:root {
    --main-color: #0070BB;
    --active-color: rgb(0, 142, 135);
    --font-color: #646c9a;
    --width-sidebar: 300px;
}
.none{display: none!important;}
#app, body, html {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 15px;
    color: var(--font-color);
}
a{text-decoration: none}
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.center{text-align:center}

.mb-10{margin-bottom: 10px}
.mb-15{margin-bottom: 15px}
.mb-20{margin-bottom: 20px}
.mr-15{margin-right: 15px}
.h30{height: 30px; width: 100%}

.title-h2{
    text-align: center;
    font-weight: 500;
    color: #646c9a;
    font-size: 1.5rem;
    margin: 0 auto 30px auto;
}
.body-content{
    background: #fff;
    border-radius: 5px;
    padding: 30px 20px;
}
h1.title-page {
    margin: 0 0 20px 0;
    font-weight: 400;
    color: #313131;
    font-size: 1.4rem;
}
h1.title-page i{
    color: var(--active-color);
}

.pointer{cursor: pointer}
@-webkit-keyframes waweAn {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes waweAn {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes waweAn {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes waweAn {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.b-white{
    background: #fff;
    color: #313131;
}
.b-white a{color: #313131;}
.b-white i{color: var(--active-color);}
.b-white>.item-menu:hover, .b-white>.item-menu-has-children:hover,.b-white>.sub-item-menu>.item-menu:hover{
    background: rgba(144, 223, 255, 0.4);
}
.b-black{
    background: #313131;
    color: #fff;
}
.b-black a{color: #fff;}
.b-black i{color: #fff;}
.b-black>.item-menu-has-children {color: #cbfcf5;}
.b-black>.item-menu:hover, .b-black>.item-menu-has-children:hover,.b-black>.sub-item-menu>.item-menu:hover{
    background: rgba(255, 255, 255, 0.4);
}

.user-avatar{width: 40px; margin-right: 15px; cursor: pointer}
.head-info i{
    cursor: pointer
}
.head-info{
    display: flex;
    align-items: center;
}
.head-info .auth-name{
    margin-right: 10px;
}
.head-info .auth-name>span{
    color: var(--active-color);
}
.line100 {
    background: rgba(0, 0, 0, 0.1);
    height: 1px;
    width: 100%;
    margin: 30px auto;
}

